.weather-layout {
  border-radius: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.175);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.416);
}
